{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique Lomo{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue ... Dans cet espace pour allez pouvoir gérer toutes vos informations personnelles.

{% endblock %}
