{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique Lomo{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue {{app.user.firstname}}!<br/>Dans cet espace pour allez pouvoir gérer toutes vos informations personnelles.
    <br/><br/>
    - <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br/>
    - Modifier mes adresses<br/>
    - Consulter mes commandes<br/>
    
{% endblock %}
