{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe - La boutique Lomo{% endblock %}

{% block content %}
    <h1>Modification du mot de passe</h1>
    <hr>
    <p class="lead mb-5">Merci de saisir votre mot de passez actuel puis le nouveau mot de passe que vous souhaitez utiliser.</p>
    {% if notification %}
    <div class="alert alert-info h4">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <br/><br/>
    <p class="lead mb-5"><a href="{{ path('account') }}">Retourner à mon compte</a></p>
    
{% endblock %}
