{% extends "base.html.twig" %}

{% block carousel %}{% endblock %}

{% block content %}
<h1>Les produits du moment</h1>
<hr>
<span class="lead">Découvrez les articles les plus vendus.</span>
<div class="row">
    {% for product in products %}
        <div class="col-md-4">
        {% include 'product/single_product.html.twig' %}
        </div>
    {% endfor %}
</div>


<!-- START THE FEATURETTES -->
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 ">
        <h2 class="featurette-heading">Les 10 règles d'or <span class="text-muted">de la lomographie.</span></h2>
        <p class="lead">Parmi les 10 Règles d'Or de Lomography, il y a "Ne pensez pas, photographiez" (Don’t Think, Just Shoot). Cette phrase résume à elle seule l'essence même de notre philosophie. Alors retenez-la bien !</p>
    </div>
    <div class="col-md-5">
        <img src="{{ asset('assets/img/info1.jpg') }}" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"/>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">La lomo, <span class="text-muted">c'est quoi?</span></h2>
        <p class="lead">A l’ère du numérique et de ses images débordantes de pixels, la raphie est une tendance à contre-courant. Cette forme de photographie argentique tire son nom du Lomo LCA, un appareil photo compact russe produit à Saint-Pétersbourg à partir de 1983.
        <br/>
        Il y a donc un brin de nostalgie dans la tendance "lomo" : les lomographes utilisent des appareils vintage et remettent au goût du jour les clichés spontanés, pour ne pas dire hasardeux, où l’on ne peut connaître à l’avance le résultat...</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{{ asset('assets/img/info2.jpg') }}" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"/>
    </div>
</div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->
{% endblock %}