body {
    position: relative;
}

.navbar__connexion-style, .navbar__connexion-style a {
    color: #fff;
}

.footer__style {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #e6e6e6;
    padding: 1em 1em 0.05em 1em;
}

.footer__style a {
    color: #999;
}

.product__container{
    margin-bottom: 5em;
}

.product__item-style{
    margin-top: 5em;
}

.product__item-style h4 {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 1em;
}
.product__subtitle {
    display:block;

    margin-bottom: 2em;

}

.product__price {
    font-weight: bold;
}

.panier-style{
    height: 20px;
    padding-right: 20px;
}

.form-check {
    background-color: #ddf5fd;
    padding: 1em 2em;
    margin-top: 0.5em;
}

.col-form-label{
    font-weight: bold;
}

.test{
    background-color:rgba(0, 0, 0, 0.2);
    padding:5px;
}
.test2{
    color: #fff;
}