.navbar__connexion-style, .navbar__connexion-style a {
    color: #fff;
}

.footer__style {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #e6e6e6;
    padding: 1em 1em 0.25em 1em;
}

.footer__style a {
    color: #999;
}