body {
    position: relative;
}

.navbar__connexion-style, .navbar__connexion-style a {
    color: #fff;
    text-align: center;
}

.footer__style {
    width: 100%;
    background-color: #e6e6e6;
    padding: 0.5em 1em 0em 1em;
    color: #666666;
}

.footer__style a:link {
    color: #666666;
}

.footer__style a:visited {
    color: #666666;
    text-decoration: none;
}
  
.footer__style a:hover {
    color: #000000;
    text-decoration: none;
}


.product__container{
    margin-bottom: 5em;
}


@media screen and (max-width: 767px) {
    .product__item-style h4 {text-align: center;}
    }


@media screen and (max-width: 767px) {
    .mobile-space {margin-top:5em;}
    }

.panier-style{
    height: 20px;
    padding-right: 20px;
}

.form-check {
    background-color: rgb(241, 241, 241);
    padding-left:3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.5em;
}

.form-check-label {
   padding-left: 0;
}

.col-form-label{
    font-weight: bold;
}

/* HERO BANNERS */

.hero__title-background{
    background-color:rgba(0, 0, 0, 0.2);
    padding:5px;
}
.hero__title-color{
    color: #fff;
}
.btn__hero-style {
    border-color: rgba(255, 255, 255, 0.705);
    color: #fff;
}

.btn__hero-style:link {
    background-color:rgba(0, 0, 0, 0.2);
}

.btn__hero-style:visited {
    background-color:rgba(0, 0, 0, 0.2);
    color: #fff;
}
  
.btn__hero-style:hover {
    border-color:#fff;
    background-color:rgba(0, 0, 0, 0.3);
    color: #fff;
}

.navbar__logo {
    margin-top: 4px;
}