    <footer class="footer__style fixed-bottom">
        <p>&copy; 2021 <a href="{{ path('home') }}">La boutique Lomo</a> &middot; <a href="#">Mentions légales</a> &middot; <a href="#">GCV</a>
    </footer>